a {
    text-decoration: none;
}

@mixin placeholder-rule {
    opacity: 1;
    color: $light-grey-theme;
}

::placeholder {
    @include placeholder-rule;
}

:-ms-input-placeholder {
    @include placeholder-rule;
}

::-ms-input-placeholder {
    @include placeholder-rule;
}

@mixin hover-opacity($initial-opacity: 0.8, $time: 0.3s) {
    opacity: 0.8;
    transition: opacity $time ease-in-out;

    &:hover {
        opacity: 1;
    }
}

@mixin centered-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.centered-container {
    @include centered-container;
}

@mixin image-centered-container {
    text-align: center;
    vertical-align: middle;

    // To center inline block, please include a dummy div next to it
    & > * {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.image-centered-container {
    @include image-centered-container;
}

@mixin flex-horizontal-centered-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

@mixin mobileOnly {
    @media only screen and (max-width: 649px) {
        @content;
    }
}

@mixin notMobile {
    @media only screen and (min-width: 650px) {
        @content;
    }
}

@mixin notDesktop {
    @media only screen and (max-width: 899px) {
        @content;
    }
}

@mixin desktopOnly {
    @media only screen and (min-width: 900px) {
        @content;
    }
}