@import "../styles/themes/theme";
@import "../styles/base/base";

#teamscreen-background {
    width: 100vw;
    height: 100vh;
    @include flex-horizontal-centered-container;
}

#teamscreen-menu-window {
    width: 250px;
    height: 100vh;
}

#teamscreen-chat-window {
    width: calc(100vw - 250px);
    height: 100vh;
}