@import "../styles/themes/theme";
@import "../styles/base/base";
@import "../styles/components/button";
@import "../styles/components/div";

$button-width: 230px;
$button-horizontal-padding: 20px;
$button-vertical-padding: 15px;
$button-margin: 10px;
$homescreen-container-margin: 20px;
$signbox-container-padding: 30px;

.homescreen-button {
    width: $button-width;
    min-Height: 60px;
    padding-left: $button-horizontal-padding;
    padding-right: $button-horizontal-padding;
    @include button-opacity;
    @include apply-shadow;
}

.signbox-underline {
    border-top: solid 1px;
    margin-top: 5px;
    min-height: 10px;
    color: $light-grey-theme;
}

.hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

#signbox-container > input {
    display: block;
    margin-top: 10px;
    border-width: 0px;
    font-size: 20px;
    padding: 0;
}

#homescreen-button1 {
    @include button-appearance($orange-theme, $white-theme, 20px);
}

#homescreen-button2 {
    @include button-appearance($white-theme, $black-theme, 16px);
}

#homescreen-logo {
    width: 350px;
    height: auto;
}

#homescreen-background {
    width: 100vw;
    height: 100vh;
    background-image: url(./../assets/login-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 50%;

    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
}

#homescreen-title {
    font-size: 72px;
    font-weight: 900;
}

#homescreen-subtitle {
    font-size: 38px;
    max-width: 2.5 * $button-width;
}

#homescreen-container-buttons-container {
    margin-top: 80px;
}

#signpage-container {
    text-align: center;
}

#signbox-container {
    background-color: $white-theme;
    @include rounded-div($signbox-container-padding);
    @include apply-shadow;
}

#signpage-title {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 50px;
}

#sign-button {
    @include button-appearance($orange-theme, $white-theme, 20px);
    width: 100%;
    margin-top: 40px;
}

#password-forget {
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 30px;
    color: $grey-theme;
}

// screen-exclusive
@include mobileOnly {
    #homescreen-logo {
        width: 300 / 650 * 100%;
        height: auto;
    }

    #homescreen-container {
        text-align: center;
    }

    #homescreen-title {
        font-size: 48px;
    }
    
    #homescreen-subtitle {
        font-size: 25px;
        max-width: 75%;
        margin: auto;
    }

    .homescreen-button {
        margin: auto;
    }

    #signbox-container > input {
        width: calc(150px + 100vw * 150 / 650);
    }
}

@include notMobile {
    #homescreen-container {
        @include flex-horizontal-centered-container;
        margin-left: $homescreen-container-margin;
        margin-right: $homescreen-container-margin;
    }

    #signbox-container > input {
        width: 300px;
    }
}

@include notDesktop {
    #homescreen-container-buttons-container {
        text-align: center;
    }

    .homescreen-button {
        display: block;
    }

    #homescreen-container-buttons-container {
        margin-top: 40px;
    }

    #homescreen-button1 {
        margin-bottom: 20px;
    }
}

@include desktopOnly {
    #homescreen-button1 {
        margin-right: $button-margin;
    }
    
    #homescreen-button2 {
        margin-left: $button-margin;
    }
}