$orange-theme: #F1522A;
$white-theme: #FFFFFF;
$light-grey-theme: #AAAAAA;
$grey-theme: #888888;
$black-theme: #000000;

.white-font {
    color: $white-theme;
}

.orange-font {
    color: $orange-theme;
}

.font-bold-weight {
    font-weight: bold;
}